<!doctype html>
<html lang="pt-Br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Node Air Combat</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="container" style="width: 600px;">
        <h1><img src="/img/logo.png"></h1>
        <div id="content" style="padding: 16px">
            <h1 style="text-align: left;">Créditos</h1>
            <p>O NodeAirCombat é um projeto de conclusão do meu curso de pós graduação. Desenvolvido em Javascript totalmente do zero.</p>
            <a href="/">Voltar</a>
        </div>
        <p style="text-align: center; font-size: 11px; margin-top: 2px;">Desenvolvido por Diogo Bemfica</p>
    </div>
  </body>
</html>
