<!doctype html>
<html lang="pt-Br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Node Air Combat</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="container">
      <p id="health">Vida: 100%</p>
      <p id="score">Pontos: 0</p>
      <canvas id="canvas"></canvas>
      <p style="text-align: center;">Acesse http://localhost:3000/joystick</p>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/canvas.js"></script>
    <script>
      canvas.addElement('canvas');
      const socket = io();

      socket.on('frame', (frame) => {
        canvas.addElements(frame.elements)
      });
      canvas.run();
    </script>
  </body>
</html>
