<!doctype html>
<html lang="pt-Br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Node Air Combat</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body id="body">
    <canvas id="game"></canvas>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/vue.min.js"></script>
    <script>

    let canvas = document.getElementById('game');
    canvas.width = 400;
    canvas.height = 400;
    let ctx = canvas.getContext('2d');

    ctx.fillStyle="black";
    ctx.fillRect(10,10,10,10);

    const socket = io();
    socket.on('state', (state) => {
        console.log(state);
    });

    let body = document.getElementById('body');
    body.addEventListener("keydown", event => {
      //LEFT
      if(event.keyCode === 37){
        socket.emit('move_left', true);
      }
      //UP
      if(event.keyCode === 38){
        
      }
      //RIGHT
      if(event.keyCode === 39){
        socket.emit('move_right', true);
      }
      //DOWN
      if(event.keyCode === 40){
        
      }
    });
    // const vue = new Vue({
    //   el: '#game',
    //   data: {
    //     game: 'a'
    //   }
    // })
    </script>
  </body>
</html>