<!doctype html>
<html lang="pt-Br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Node Air Combat</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <canvas id="canvas"></canvas>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/canvas.js"></script>
    <script src="/js/joystick.js"></script>
    <script>
      const canvas = new Canvas('canvas');
      const socket = io();


      socket.on('frame', (frame) => {
        canvas.addElements(frame.elements);
        console.log(canvas.elements);
      });
      canvas.play();
    </script>
  </body>
</html>