<!doctype html>
<html lang="pt-Br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Node Air Combat</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="container" style="width: 600px;">
        <h1><img src="/img/logo.png"></h1>
        <div id="content" style="padding: 16px">
            <h1 style="text-align: left;">Instruções</h1>
            <p>Neste jogo você vai precisar do seu smartphone, ele deve ser usado como controle para o personagem do jogo, quando a tela do seu computador vai apresentar o jogo.</p>
            <h2>Pareando o controle</h2>
            <p>Você precisar verificar se o seu smartphone está na mesma rede que o seu computador. Depois com o seu smartphone use o navegador para acessar o endereço “http://[seu ip]:[porta o jogo]/joystick (a porta padrão é 3000 exemplo: http://192.168.0.5:3000/joystick). Na página do controle você vai ter um joystick digital para controlar a direção do personagem e um botão para disparar os projéteis e derrotar os seus inimigos.</p>
            <h2>Multiplayer</h2>
            <p>Para conseguir jogar com um segundo jogador em modo cooperativo, basta o segundo jogar seguir os mesmos passos de pareamento.</p>
            <a href="/">Voltar</a>
        </div>
        <p style="text-align: center; font-size: 11px; margin-top: 2px;">Desenvolvido por Diogo Bemfica</p>
    </div>
  </body>
</html>
