<!doctype html>
<html lang="pt-Br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Joystick</title>
    <link rel="stylesheet" href="/css/joystick.css">
  </head>
  <body>
    <div id="container">
        <div id="logo"><img src="/img/logo.png"></div>
        <p id="container_joystick">
            <canvas id="joystick" height="200" width="200"></canvas>
        </p>
        <p id="container_button">
            <button id="btnFire"></button>
        </p>
        <div id="restart">
            <a id="btnRestart" href="javascript:;">Restart</a>
        </div>
        <div id="busy">Não tem espaço para conexão</div>
        <div id="fullscreen">
            <a id="btnFullScreen" href="javascript:;">Modo Fullscreen</a>
        </div>
    </div>

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/createjs.min.js"></script>
    <script src="/js/hammer.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
    const socket = io('/joystick');
    var coords = {x: null, y: null, direction: null};
    $(document).ready(function(){
        let xCenter = 100;
        let yCenter = 100;
        let stage = new createjs.Stage('joystick');

        let psp = new createjs.Shape();
        psp.graphics.beginFill('#333333').drawCircle(xCenter, yCenter, 50);

        psp.alpha = 0.25;

        stage.addChild(psp);
        createjs.Ticker.framerate = 60;
        createjs.Ticker.addEventListener('tick', stage);
        stage.update();

        let myElement = $('#joystick')[0];
        let mc = new Hammer(myElement);
        let time = null;

        mc.on("panstart", function(ev) {
            var pos = $('#joystick').position();
            xCenter = psp.x;
            yCenter = psp.y;
            psp.alpha = 0.5;
            stage.update();
            if (time === null) {
                time = setInterval(() => {
                    move();
                }, 30);
            }
        });

        mc.on("panmove", function(ev) {
            let pos = $('#joystick').position();
            coords = calculateCoords(ev.angle, ev.distance);
            psp.x = coords.x;
            psp.y = coords.y;
            psp.alpha = 0.5;
            stage.update();
        });

        mc.on("panend", function(ev) {
            if (time !== null) {
                clearInterval(time);
                time = null;
            }
            psp.alpha = 0.25;
            createjs.Tween.get(psp).to({x:xCenter,y:yCenter},750,createjs.Ease.elasticOut);
            socket.emit('moveStop', true);
        });

        let btnFire = document.getElementById('btnFire');
        btnFire.addEventListener('touchstart', function(event) {
            socket.emit('fire', true);
        }, false);

        let btnRestart = document.getElementById('btnRestart');
        btnRestart.addEventListener('click', function() {
            socket.emit('restart', true);
            let restart = document.getElementById('restart');
            restart.style.display = "none";
        }, false);

        let btnFullscreen = document.getElementById("btnFullScreen");
        btnFullscreen.addEventListener("click", function() {
            let fullscreen = document.getElementById('fullscreen');
            fullscreen.style.display = "none";
            document.body.requestFullscreen();
            socket.emit('start', true);
        }, false);

        socket.on('restart', () => {
            let restart = document.getElementById('restart');
            restart.style.display = "block";

            let fullscreen = document.getElementById('fullscreen');
            fullscreen.style.display = "none";
        });

        socket.on('busy', () => {
            let busy = document.getElementById('busy');
            busy.style.display = "block";

            let restart = document.getElementById('restart');
            restart.style.display = "none";

            let fullscreen = document.getElementById('fullscreen');
            fullscreen.style.display = "none";
        });
    });
    function calculateCoords(angle, distance) {
        let coords = {};
        distance = Math.min(distance, 100);
        let rads = (angle * Math.PI) / 180.0;

        coords.x = distance * Math.cos(rads);
        coords.y = distance * Math.sin(rads);
        coords.direction = null;

        if (coords.y < -15 && (coords.x > -25 && coords.x < 25)) {
            coords.direction = 'up';
        }
        if (coords.y > 15 && (coords.x > -25 && coords.x < 25)) {
            coords.direction = 'down';
        }
        if (coords.x < -15 && (coords.y > -25 && coords.y < 25)) {
            coords.direction = 'left';
        }
        if (coords.x > 15 && (coords.y > -25 && coords.y < 25)) {
            coords.direction = 'right';
        }
        if (coords.x < -15 && coords.y < -15) {
            coords.direction = 'leftUp';
        }
        if (coords.x > 15 && coords.y < -15) {
            coords.direction = 'rightUp';
        }
        if (coords.x < -15 && coords.y > 15) {
            coords.direction = 'leftDown';
        }
        if (coords.x > 15 && coords.y > 15) {
            coords.direction = 'rightDown';
        }
        if (coords.x > 0 && coords.x <= 15 && coords.y > 0 && coords.y <= 15) {
            coords.direction = 'stop';
        }
        if (coords.direction === null) {
            coords.direction = 'stop';
        }

        return coords;
    }

    function move() {
        let direction = coords.direction;
        if (direction == null) {
            return false;
        }
        if (direction === 'up') {
            socket.emit('moveUp', true);
        }
        if (direction === 'down') {
            socket.emit('moveDown', true);
        }
        if (direction === 'left') {
            socket.emit('moveLeft', true);
        }
        if (direction === 'right') {
            socket.emit('moveRight', true);
        }
        if (direction === 'leftUp') {
            socket.emit('moveLeftUp', true);
        }
        if (direction === 'rightUp') {
            socket.emit('moveRightUp', true);
        }
        if (direction === 'leftDown') {
            socket.emit('moveLeftDown', true);
        }
        if (direction === 'rightDown') {
            socket.emit('moveRightDown', true);
        }
        if (direction === 'stop') {
            socket.emit('moveStop', true);
        }
    }
    </script>
  </body>
</html>
