<!doctype html>
<html lang="pt-Br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Joystick</title>
    <link rel="stylesheet" href="/css/joystick.css">
  </head>
  <body>
    <div id="container">
        <h1>Node Air Combat</h1>
        <div id="controlers">
            <div id="controlers_direction">
                <div style="width: 100%; overflow: auto; text-align: center;">
                    <button id="controlers_direction_up">&nbsp;</button>
                </div>
                <div style="width: 50%; float: left; text-align: right;">
                    <button id="controlers_direction_left">&nbsp;</button>
                </div>
                <div style="width: 50%; float: right; text-align: left;">
                    <button id="controlers_direction_right">&nbsp;</button>
                </div>
                <div style="width: 100%; overflow: auto; text-align: center;">
                    <button id="controlers_direction_down">&nbsp;</button>
                </div>
            </div>
            <div id="controlers_buttons">
                <button id="button_fire">&nbsp;</button>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        window.scrollTo(0,1);

        const socket = io('/joystick');
        const controllerDirectionUp = document.querySelector("#controlers_direction_up");
        const controllerDirectionLeft = document.querySelector("#controlers_direction_left");
        const controllerDirectionRight = document.querySelector("#controlers_direction_right");
        const controllerDirectionDown = document.querySelector("#controlers_direction_down");
        const buttonFire = document.querySelector("#button_fire");
        controllerDirectionUp.addEventListener("click", () => {
            socket.emit('move_up', true);
        });
        controllerDirectionLeft.addEventListener("click", () => {
            socket.emit('move_left', true);
        });
        controllerDirectionRight.addEventListener("click", () => {
            socket.emit('move_right', true);
        });
        controllerDirectionDown.addEventListener("click", () => {
            socket.emit('move_down', true);
        });
        buttonFire.addEventListener("click", () => {
            socket.emit('fire', true);
        });
    </script>
  </body>
</html>