<!doctype html>
<html lang="pt-Br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.json">
    <title>Joystick</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            outline: 0;
            box-sizing: border-box;
        }
        body {
            padding: 25px;
            background-color: #eeeeee;
            font: 14px Arial, Helvetica, sans-serif;
            -webkit-font-smoothing: antialiased !important;
        }
        #container {
            margin: 0 auto;
            width: 90%;
        }
        h1 {
            text-align: center;
            margin-top: 0;
            margin-bottom: 14px;
        }
        #controlers{
            overflow: auto;
        }
        #controlers_direction{
            width: 50%;
            float: left;
        }
        #controlers_buttons{
            width: 50%;
            text-align: center;
            float: right;
        }
        #controlers_direction_up{
            width: 50px;
            padding: 20px;
            margin-bottom: 10px;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            box-shadow: 2px -2px 0px 0px #000000;
            background:linear-gradient(to bottom, #555555 5%, #222222 100%);
            border:1px solid #000000;
            cursor: pointer;
        }
        #controlers_direction_left{
            width: 50px;
            padding: 20px;
            margin-right: 18px;
            border-top-left-radius: 2px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 10px;
            box-shadow: 2px -2px 0px 0px #000000;
            background:linear-gradient(to bottom, #555555 5%, #222222 100%);
            border:1px solid #000000;
            cursor: pointer;
        }
        #controlers_direction_right{
            width: 50px;
            padding: 20px;
            margin-left: 18px;
            border-top-left-radius: 10px;
            border-top-right-radius: 2px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 2px;
            box-shadow: 2px -2px 0px 0px #000000;
            background:linear-gradient(to bottom, #555555 5%, #222222 100%);
            border:1px solid #000000;
            cursor: pointer;
        }
        #controlers_direction_down{
            width: 50px;
            padding: 20px;
            margin-top: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            box-shadow: 2px -2px 0px 0px #000000;
            background:linear-gradient(to bottom, #222222 5%, #555555 100%);
            border:1px solid #000000;
            cursor: pointer;
        }
        #button_fire{
            margin: 30px;
            padding: 40px;
            border-radius: 60px;
            box-shadow: 2px -2px 0px 0px #000000;
            background:linear-gradient(to bottom, #ff0000 5%, #ff5555 100%);
            border:1px solid #000000;
            cursor: pointer;
        }
    </style>
  </head>
  <body>
    <div id="container">
        <h1>Node Air Combat</h1>
        <div id="controlers">
            <div id="controlers_direction">
                <div style="width: 100%; overflow: auto; text-align: center;">
                    <button id="controlers_direction_up">&nbsp;</button>
                </div>
                <div style="width: 50%; float: left; text-align: right;">
                    <button id="controlers_direction_left">&nbsp;</button>
                </div>
                <div style="width: 50%; float: right; text-align: left;">
                    <button id="controlers_direction_right">&nbsp;</button>
                </div>
                <div style="width: 100%; overflow: auto; text-align: center;">
                    <button id="controlers_direction_down">&nbsp;</button>
                </div>
            </div>
            <div id="controlers_buttons">
                <button id="button_fire">&nbsp;</button>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        window.scrollTo(0,1);

        const socket = io('/joystick');
        const controllerDirectionUp = document.querySelector("#controlers_direction_up");
        const controllerDirectionLeft = document.querySelector("#controlers_direction_left");
        const controllerDirectionRight = document.querySelector("#controlers_direction_right");
        const controllerDirectionDown = document.querySelector("#controlers_direction_down");
        const buttonFire = document.querySelector("#button_fire");
        controllerDirectionUp.addEventListener("click", () => {
            socket.emit('move_up', true);
        });
        controllerDirectionLeft.addEventListener("click", () => {
            socket.emit('move_left', true);
        });
        controllerDirectionRight.addEventListener("click", () => {
            socket.emit('move_right', true);
        });
        controllerDirectionDown.addEventListener("click", () => {
            socket.emit('move_down', true);
        });
        buttonFire.addEventListener("click", () => {
            socket.emit('fire', true);
        });
    </script>
  </body>
</html>